body{
  margin-top:70px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}
button{
    background: #3873b0;
    border: none;
    color: #FFF;
    padding: 5px 20px;
    border-radius: 5px; 
}
nav.navbar{
margin:0;
}
.navbar-default{
  background:#fff;
  border:0;
  font-family:Poppins;
}

.navbar-brand{
    background: url("../img/logo.PNG") no-repeat;
        width: 150px;
    height: 80px;
    background-size: 150px;
    margin-top: 10px;
    padding: 0;
}

.navbar-right{
    margin-top: 20px;
}

#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{
  width:90%;
  margin-left:60px;
}

#showcase .showcase-right{
  margin-top:90px;
}

#fan,#appliance,#elements,#contact{
     height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/fan.jpg);
    background-color: #000;
    display: table;
    width: 100%;
}
#appliance{
      background-image:url("../img/heating-elements.jpg");
}
#elements{
      background-image:url("../img/home-app.jpg");
}

#info1 .info-right{
  margin-top:90px;
}

#info2{
  margin:20px 0 60px 0;
}

#contact{
  padding:20px 0;
  color:#fff;
}
h3{
    font-size: 50px;
    color: goldenrod;
    text-align: center;
    vertical-align: middle;
}
footer{
    padding: 20px;
    background: #3873b0;
    color: #FFF;
    font-size: 20px;
}
.map iframe{
    height: 320px;
}
section#contact {
    background-color: #222222;
    background-image: url('http://artdnaswitchbd.com/componants/images/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
}
section {
    padding: 90px 0PX;
}
section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
}
.gellary_bg_none img{
	width: 100%;
	height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #333 ;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}
#contact .btn{
    background: #3873b0;
}
#fan-category,#elements-category,#appliance-category{
    background: #fff;
    text-align: center;
    padding: 10px 0;
        display: inline-block;
    width: 100%;
}
.card{
    padding: 10px;
}
#fan-category img{
       width: 299px;
    border: 1px solid;
    padding: 10px 10px;
    border-radius: 20px;
}
#fan-category p{
	    font-family: cursive;
    margin-top: 10px;
    text-decoration: underline;
}
